<div class="container">
	<div class="jumbotron titleImg">
		<h1 class="myTitle text-center">Tech News Scrape</h1>
		
	</div>
	<div class="row">
		<div class="col-md-6 offset-md-3 text-center">
		<button class="btn btn-primary scrape">Scrape For More Articles</button>
			<ul>
				{{#each articles}}
				<div class="card">
					<li class = "card-body">
						<h1 data-toggle="modal" data-target=".bd-example-modal-lg" id={{this._id}} class="card-title newsHeadline">{{this.title}}</h1>
						<p>{{this.body}}</p>
						<a href={{this.link}}>Google link</a>
					</li>
				</div> 
				{{/each}}		
			</ul>
		</div>
	</div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	
    </div>
  </div>
</div>